<div ng-controller="MainCtrl">

  <div class="form-search">
    <span class="fa fa-search"></span>
    <input placeholder="ID検索・現場登録" type="search" />
    <input type="reset" value="キャンセル" />
  </div>

  <section>
    <div class="tabs tabs-style-iconfall">
      <nav>
        <ul>
          <li><a href="#section-iconfall-1" class="icon icon-home"><span>Home</span></a></li>
          <li><a href="#section-iconfall-2" class="icon icon-gift"><span>Deals</span></a></li>
          <li><a href="#section-iconfall-3" class="icon icon-upload"><span>Upload</span></a></li>
        </ul>
      </nav>
      <div class="content-wrap">
        <section id="section-iconfall-1"><p>1</p></section>
        <section id="section-iconfall-2"><p>2</p></section>
        <section id="section-iconfall-3"><p>3</p></section>
        <section id="section-iconfall-4"><p>4</p></section>
        <section id="section-iconfall-5"><p>5</p></section>
      </div><!-- /content -->
    </div><!-- /tabs -->
  </section>
</div>