<div ng-controller="SiteCtrl">
	<div class="siteheader">
      <!-- home icon -->
      <a ng-href="#/overview">
        <img src="images/svg/home.svg" class="pull-left">
        </a>
      <!-- delete icon -->
      <a href="">
        <img src="images/svg/delete.svg" class="pull-right">
      </a>
      <span class="title">アプリ名</span>
    </div>

	<div class="sitecontainer">
		<div class="titleblock">
			<h4>作業証明書</h4>
		</div>

		<table class="table" ng-model="sites">
		  <tbody>
		    <tr>
		      <td class="leftdetail">現場名</td>
		      <td class="rightdetail">{{ sites[whichSite].city }}{{ sites[whichSite].district }}{{ sites[whichSite].name }}現場</td>
		    </tr>
		    <tr>
		      <td class="leftdetail">人数</td>
		      <td class="rightdetail">{{ sites[whichSite].people }}人</td>
		    </tr>
		    <tr>
		      <td class="leftdetail">作業時間</td>
		      <td class="rightdetail">{{ sites[whichSite].time1 }}</td>
		    </tr>
		    <tr>
		      <td class="leftdetail">作業内容</td>
		      <td class="rightdetail">{{ sites[whichSite].work }}</td>
		    </tr>
		    <tr>
		      <td class="leftdetail">日付</td>
		      <td class="rightdetail">{{ sites[whichSite].date1 }}</td>
		    </tr>
		    <tr>
		      <td class="leftdetail">御社名</td>
		      <td class="rightdetail">{{ sites[whichSite].company }}</td>
		    </tr>
		    <tr>
		      <td class="leftdetail">御担当者様</td>
		      <td class="rightdetail">{{ sites[whichSite].staff }}</td>
		    </tr>
		    <tr>
		      <td class="leftdetail">御担当者様署名</td>
		      <td class="rightdetail">{{ sites[whichSite].staff }}</td>
		    </tr>
		  </tbody>
		</table>
	</div>

		<div class="signedbutton">
			署名済み
		</div>


</div>