@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.formcontainer{
	height: 547px;
}

.titleblock{
	width: 100%;
	height: 31px;
	background: #E6E6E6;
	padding-top: 0;
	margin: 0;
}

.titleblock h4{
	text-align: center;
	font-size: 15px;
	font-weight: 200;
	padding-top: 7px;
	margin: 0;
}

table.table{
	margin: 0;
}

.table td.leftdetail{
	width: 130px;
	padding-left: 16px;
	font-size: 15px;
	font-weight: 200;
}

.table td.rightdetail{
	font-size: 15px;
	font-weight: 200;
}

tr.confirmation{
	height: 78px;
	border: none;
}

td.question{
	width: 250px;
	padding: 30px 0 30px 16px!important;
	border: none;
}

td.answer{
	color: #9B9B9B;
	text-align: center;
	font-size: 14px;
	font-weight: 200;
	padding: 10px 3px!important;
}

/* はい＆いいえボタン */
button{
	background: none;
	border: none;
}

.grey1 button.greycircle1, .grey2 button.greycircle2{
	background: url("../images/svg/greycircle.svg") no-repeat;
	background-position: top;
	color: #9B9B9B;
}

.grey1 button.greycircle1, .grey2 button.greycircle2{
	padding-top: 15px;
	vertical-align: bottom;
}

.grey1 button.greycircle1:focus, .grey2 button.greycircle2:focus{
	background: url("../images/svg/bluecircle.svg") no-repeat;
	background-position: top;
	color: #4A90E2;
	outline: none;
}

.grey1 button.greyx1, .grey2 button.greyx2{
	background: url("../images/svg/greyx.svg") no-repeat;
	background-position: top;
	background-size: 38px 38px;
	color: #9B9B9B;
}

.grey1 button.greyx1, .grey2 button.greyx2{
	padding-top: 15px;
	vertical-align: bottom;
}

.grey1 button.greyx1:focus, .grey2 button.greyx2:focus{
	background: url("../images/svg/bluex.svg") no-repeat;
	background-position: top;
	background-size: 38px 38px;
	color: #4A90E2;
	outline: none;
}

/* 作業時間入力 */	
table.table tbody tr.hiddenform td.timeinput{
	border: none;
}

table.table tbody tr.hiddenform td.timetext{
	border: none;
	padding-top: 33px;
	padding-left: 14px;
	width: 50px;
}

table.table tbody tr.hiddenform td.timetitle{
	border: none;
	padding-left: 17px;
	padding-top: 33px;
}

input#example-time-input.form-control{
	width: 80px;
	text-align: center;
}

td.timeinput{
	padding: 8px 0;
	width: 100px;
}

.signbutton{
	height: 56px;
	background: #69BD0C;
	text-align: center;
	padding-top: 14px;
	color: white;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	cursor: pointer;
}

.signbutton:hover{
	text-decoration: none;
}