@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

/*検索バー*/
.form-search { 
  position: absolute;
  height: 50px;
  font-size: 16px;
  z-index: 1;
}

.searchbutton{
  width: 150px;
  height: 40px;
  border: solid 1px #979797;
  border-radius: 3px;
  margin-left: 12px;
  color: #4A4A4A;
}

/*現場一覧タブ*/
ul.nav.nav-tabs{
  position: fixed;
	padding-top: 48px;
}

.nav-tabs>li>a {
	margin: 0;
	border: none;
}

.nav>li>a{
	border: 0;
	padding: 10px 15px;
	margin: 0;
	font-size: 15px;
	font-weight: 200;
	color: #7B7B7B;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover{
	border: none;
	border-bottom: solid 3px #4A90E2;
	font-weight: 500;
}

/*現場リスト*/
.tab-content{
  padding-top: 89px;
}
.tab-content .row{
  height: 88px;
  width: 100%;
  margin: 0;
  border-bottom: solid 1px #ddd;
}

.tab-content .row .col-xs-4.leftcol{
  width: 100px;
  height: 88px;
  padding: 0;
}

.tab-content h4.ng-binding{
  text-decoration: none;
  color: #1F1F1F;
  font-size: 15px;
  font-weight: 200;
  padding-top: 7px;
}

.tab-content .col-xs-4.leftcol img{
  position: absolute;
  width: 55px;
  margin: 16px 23px;
}

.tab-content .col-xs-4.leftcol h4.ng-binding{
  padding: 25px 0;
  text-align: center;
}

.tab-content .col-xs-4.midcol{
  width: 215px;
  padding: 9px 5px;
}

.tab-content .col-xs-4.midcol p.ng-binding{
  text-decoration: none;
  color: #4A4A4A;
  font-size: 14px;
  font-weight: 200;
  line-height: 3px;
}

.tab-content .col-xs-4.rightcol{
  width: 55px;
}

.tab-content .col-xs-4.rightcol img{
  width: 27px;
  padding-top: 30px;
}